<div class="card-trip">
  <% if bin.photos.attached? %>
    <%= cl_image_tag(bin.photos.first.key) %>
  <% else %>
    <img src="https://www.dulton.jp/img/goods/8/PT_img.jpg" />
  <% end %>
  <div>
    <%= link_to  target: :blank do %>
    <% end %>
    <button data-action="click->map#showAlert" class="alert-btn"><i class="fa-solid fa-circle-exclamation float-end pt-3"></i>
    </button>
  </div>
  <div class="card-trip-infos">
    <div>
      <h4><%= bin.name %></h4>
      <p class="bin-address"><%= bin.address %></p>
      <% bin.categories.each do |category| %>
        <% if category.name == "pet bottle" %>
          <i class="fa-solid fa-wine-bottle"></i>
        <% elsif category.name == "burnable" %>
          <i class="fa-solid fa-dumpster-fire"></i>
        <% elsif category.name == "unburnable" %>
          <i class="fa-solid fa-circle-xmark"></i>
        <% else %>
          <i class="fa-solid fa-prescription-bottle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
