<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h4><%= bin.name %></h4>
      <p><%= bin.address %></p>
    </div>
  </div>
  <%= link_to "Get Directions", "https://www.google.com/maps?saddr=My+Location&daddr=#{bin.address}", class: "btn btn-success btn-sm", target: :blank %>
</div>
