// Specific CSS for your home-page
body {
  height: 100vh;
  overflow: hidden;
  min-width: 300px;
}

.map-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.mapbox {
  flex-grow: 1;
}

//darkmode//

.darkmode {
  color: #eee;
  background: #252526;
}

.darkmode a {
  color: #eee;
}

.darkmode .logo{
  filter: invert(1);
}

.darkmode-map {
  filter: invert(1);
}

.darkmode .fa-eye {
  filter: invert(1);
}
