.alert {
  position: fixed;
  bottom: 52px;
  right: 16px;
  z-index: 1000;
}

.alert-btn {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  padding: 0px;
  float: right;
}
