.home-container {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main-btn {
  position: relative;
  z-index: 999;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-bottom: 6px;
  font-weight: 300;
  padding-bottom: 6px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.home-vid {
  position: absolute;
  z-index: 1;
}

.about-bin {
  // background-color: rgb(155, 207, 41);
  color: white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.289);
  padding: 16px;
  width: 250px;
  border-radius: 20px;
  text-shadow: 1px 3px 2px #0000003d;
}
