.fa-dumpster-fire {
  font-size: 24px;
  color: #f09a19;
}

.fa-circle-xmark {
  font-size: 24px;
  color: red;
}

.fa-wine-bottle {
  font-size: 24px;
  color: #00A006;
}

.fa-prescription-bottle {
  font-size: 24px;
  color: #4b80eb;
}

.icon-filter {
  font-size: 14px;
  margin-right: 8px;
}
