.fa-dumpster-fire {
  font-size: 24px;
  color: #4C87FC;
}

.fa-circle-xmark {
  font-size: 24px;
  color: red;
}

.fa-wine-bottle {
  font-size: 24px;
  color: #00A006;
}

.fa-prescription-bottle {
  font-size: 24px;
  color: #002265;
}
