.jpic-kanen {
  font-size: 24px;
  color: #f09a19;
}

.jpic-kaki-genkin {
  font-size: 24px;
  color: red;
}

.jpic-pettobotoru {
  font-size: 24px;
  color: #00A006;
}

.jpic-kan {
  font-size: 24px;
  color: #4b80eb;
}

.icon-filter {
  font-size: 14px;
  padding-right: 4px;
}
