.mapboxgl-ctrl-geocoder--input:focus{
  outline: none;
  border: none;
}

.directions-control.directions-control-directions{
  display: none;
}

.mapboxgl-ctrl-geocoder .suggestions{
  width: 325px;
}

// .mapbox-directions-profile {
//   display: none;
// }
