.mapboxgl-ctrl-geocoder--input:focus{
  outline: none;
  border: none;
}

.directions-control.directions-control-directions{
  display: none;
}

.mapboxgl-ctrl-geocoder .suggestions{
  width: 325px;
}

.mapboxgl-ctrl-group button{
  width: 40px;
  height: 40px;
}
